@model TimeEvent

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-controller="TimeEventCrud" asp-action="Edit">
    <div class="form-horizontal">
        <h4>TimeEvent</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tick" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tick" class="form-control" />
                <span asp-validation-for="Tick" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastTrigger" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastTrigger" class="form-control" />
                <span asp-validation-for="LastTrigger" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="TimeEventCrud" asp-action="Index">Back to List</a>
</div>

