<ul class="nav navbar-nav">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="Manage" asp-action="Index">Index</a></li>
                    <li><a asp-area="" asp-controller="Manage" asp-action="ChangePassword">Change password</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="Profile" asp-action="Index">Index</a></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="Storage">Storage</a></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="ChangeCountry">Change country</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="Work" asp-action="Companies">Your companies</a></li>
                    <li><a asp-area="" asp-controller="Work" asp-action="JobOffers">Job offers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marketplace<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="Marketplace" asp-action="Index">Index</a></li>
                    <li><a asp-area="" asp-controller="Marketplace" asp-action="Offers" asp-route-itemType="@ItemType.Food">Food</a></li>
                    <li><a asp-area="" asp-controller="Marketplace" asp-action="Offers" asp-route-itemType="@ItemType.Grain">Grain</a></li>
                </ul>
            </li>
        }
        else
        {
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        }
    }
</ul>
