<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    @{
                        if (User.Identity.IsAuthenticated)
                        {
        <li><a asp-area="" asp-controller="Manage" asp-action="Index">Account</a></li>
                        }
    }
</ul>
